h1 { 
    font-family: Open Sans;
    font-size: 28pt;
    background-color: rebeccapurple;
    color: aliceblue;
}
p, li {
    font-family: Open Sans; 
    font-size: 18pt;
    background-color: aliceblue;
}